<html>
<head>
    <title>Tic-Tac-Toe</title>
    <script>
    gameUuid = "{{ .GameUuid}}";
    playerOneUuid = "{{ .PlayerOneUuid}}";
    playerTwoUuid = "{{ .PlayerTwoUuid}}";

    players = {
        [playerOneUuid] : "X",
        [playerTwoUuid] : "O"
    };

    symbols = {
        "X" : playerOneUuid,
        "O" : playerTwoUuid,
    };

    currentPlayerIndex = {{ .CurrentPlayer}};
    playerUuid = Object.keys(players)[currentPlayerIndex];

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.2.1/socket.io.js"></script>
    <script src="/static/js/game.js"></script>
    <link rel="stylesheet" href="/static/css/game.css">
</head>
<body>
    <h1 style="text-align:center;">Tic-Tac-Toe</h1>
    <p id="link" class="hidden">Send this link to second player: </p>
    <p id="pTurn" class="hidden">It's your turn</p>
    <p id="otherTurn" class="hidden">It's not your turn</p>
    <p id="winner"></p>

    <div id="container">
        <table>
            <tr><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td></tr>
        </table>
    </div>

</body>
</html>