#container{
    display: flex;
    justify-content: center;
}

td {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
    font-size: 100px;
}

.hidden{
    visibility: hidden;
}